langchain
langchain-community
langchain-groq
python-dotenv
langchain-huggingface
ipykernel
pyttsx3
langchain
ipykernel
python-dotenv
langchain_community
pypdf
langchain-text-splitters
sentence_transformers
langchain_huggingface
faiss-cpu
chromadb
streamlit
langchain_groq
